<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <import resource="applicationContext-hibernate.xml" />
    <import resource="applicationContext-daoBeans.xml" />
    <import resource="applicationContext-serviceBeans.xml" />

    <context:component-scan base-package="org.shigglewitz.chess.controller" />

    <mvc:annotation-driven />

    <bean
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <!-- /WEB-INF/jsp/ -->
            <value>${path.to.view.files}</value>
        </property>
        <property name="suffix">
            <!-- .jsp -->
            <value>${view.extension}</value>
        </property>
    </bean>

</beans>